table{
    border-collapse: collapse;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

th{
  width: 12%;
}

td{
    height: 30px;
    border-style: solid;
    border-width: 1px;
    transition: 1s;
    font-weight: 400;
}
.td-ramos:hover{
    transition: 1s;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  margin-left: 10px;
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
  margin-right: 10px;
}

.right table{
  width: 100%;
}
