span{
  font-style: normal;
  font-weight: normal;
  font-family: Roboto;
  font-size: 20px;
  font-variant: small-caps;
  font-synthesis: style;

  width: 50%;
  margin: 50px 10px;
  padding: 50px 10px;
}

br{
  margin: 50px 10px;
  padding: 50px 10px;
}
